{%- unless settings.review_app == '' -%}
  <div class="review-badge">
    {%- if position == 'product_page' -%}

      {%- case settings.review_app -%}
        {%- when 'debutify' -%}
          <div id="starRating"
               data-productId="{{ product.id }}"
               data-storeName="{{ shop.permanent_domain | split: '.myshopify.com' | first }}">
          </div>

        {%- when 'judge_me' -%}
          <div class="jdgm-widget jdgm-preview-badge" data-id="{{ product.id }}">
            {{ product.metafields.judgeme.badge }}
          </div>

        {%- when 'loox' -%}
          <div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div>

        {%- when 'ryviu' -%}
          <div class="review-widget">
            <ryviu-widget-total
              reviews_data="{{ product.metafields.ryviu.product_reviews_info | escape }}"
              product_id="{{ product.id }}"
              handle="{{ product.handle }}">
            </ryviu-widget-total>
          </div>

        {%- when 'stamped_io' -%}
          <span
            class="stamped-product-reviews-badge stamped-main-badge"
            data-id="{{ product.id }}"
            data-product-sku="{{ product.handle }}"
            data-product-type="{{ product.type }}"
            data-product-title="{{ product.title }}"
            style="display: inline-block;">
            {{ product.metafields.stamped.badge }}
          </span>

        {%- when 'ali_reviews' -%}
          <div
            product-id="{{ product.id }}"
            class="alr-display-review-badge"
            onclick="scroll_to_ali()">
          </div>

        {%- when 'rivyo' -%}
          <div
            class="wc_product_review_badge"
            data-handle="{{ product.handle }}"
            data-product_id="{{ product.id }}">
          </div>

        {%- when 'growave' -%}
          {%- capture the_snippet_review_avg -%}{%- render 'ssw-widget-avg-rate-profile' -%}{%- endcapture -%}
          {%- unless the_snippet_review_avg contains 'Liquid error' -%}
            {{ the_snippet_review_avg }}
          {%- endunless -%}

        {%- when 'opinew' -%}
          {%- capture the_snippet_review_avg -%}{%- render 'opinew_review_stars_product' -%}{%- endcapture -%}
          {%- unless the_snippet_review_avg contains 'Liquid error' -%}
            <div id="opinew-stars-plugin-product">
              {{ the_snippet_review_avg }}
            </div>
          {%- endunless -%}

        {%- when 'automizely' -%}
          {%- capture the_snippet_review_avg -%}{%- render 'asrv-star-widget', product: product -%}{%- endcapture -%}
          {%- unless the_snippet_review_avg contains 'Liquid error' -%}
            {{ the_snippet_review_avg }}
          {%- endunless -%}

        {%- when 'fera' -%}
          <div data-fera-container="425221" data-product_id="{{ product.id }}"></div>

        {%- when 'other' -%}
          {%- if settings.review_star_rating_code != blank -%}
            <div class="custom-review-stars">
              {{ settings.review_star_rating_code }}
            </div>
          {%- endif -%}
      {%- endcase -%}

    {%- elsif position == 'product_grid' -%}

      {%- case settings.review_app -%}
        {%- when 'debutify' -%}
          <div id="starRating"
               data-productId="{{ product.id }}"
               data-storeName="{{ shop.permanent_domain | split: '.myshopify.com' | first }}">
          </div>

        {%- when 'judge_me' -%}
          <div class="jdgm-widget jdgm-preview-badge" data-id="{{ product.id }}">
            {{ product.metafields.judgeme.badge }}
          </div>

        {%- when 'loox' -%}
          <div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div>

        {%- when 'ryviu' -%}
          <div class="ryviu-collection">
            <ryviu-widget-total
               collection=1
               reviews_data="{{ product.metafields.ryviu.product_reviews_info | escape }}"
               product_id="{{ product.id }}"
               handle="{{ product.handle }}">
            </ryviu-widget-total>
          </div>

        {%- when 'stamped_io' -%}
          <span
            class="stamped-product-reviews-badge"
            data-product-sku="{{ product.handle }}"
            data-id="{{ product.id }}"
            data-product-type="{{ product.type }}"
            data-product-title="{{ product.title }}"
            style="display: block;">
            {{ product.metafields.stamped.badge }}
          </span>

        {%- when 'ali_reviews' -%}
          <div product-id="{{ product.id }}" product-handle="{{ product.handle }}" class="alireviews-review-star-rating"></div>

        {%- when 'rivyo' -%}
          <div
            class="wc_product_review_badge"
            data-handle="{{ product.handle }}"
            data-product_id="{{ product.id }}">
          </div>

        {%- when 'growave' -%}
          {%- capture the_snippet_review_avg -%}{%- render 'ssw-widget-avg-rate-profile' -%}{%- endcapture -%}
          {%- unless the_snippet_review_avg contains 'Liquid error' -%}
            {{ the_snippet_review_avg }}
          {%- endunless -%}

        {%- when 'automizely' -%}
          {%- capture the_snippet_review_avg -%}{%- render 'asrv-star-widget', product: product, size: 14, anchor: false -%}{%- endcapture -%}
          {%- unless the_snippet_review_avg contains 'Liquid error' -%}
            {{ the_snippet_review_avg }}
          {%- endunless -%}

        {%- when 'opinew' -%}
          {%- capture the_snippet_review_avg -%}{%- render 'opinew_review_stars_product' -%}{%- endcapture -%}
          {%- unless the_snippet_review_avg contains 'Liquid error' -%}
            <div id="opinew-stars-plugin-product">
              {{ the_snippet_review_avg }}
            </div>
          {%- endunless -%}

        {%- when 'fera' -%}
          <div data-fera-container="425221" data-product_id="{{ product.id }}"></div>

        {%- when 'other' -%}
          {%- if settings.review_star_rating_code != blank -%}
            <div class="custom-review-stars">
              {{ settings.review_star_rating_code }}
            </div>
          {%- endif -%}
      {%- endcase -%}

    {%- endif -%}
  </div>
{%- endunless -%}
