{%- unless settings.review_app == '' -%}
  <div class="review-widget" {{ block.shopify_attributes }}>

    {%- case settings.review_app -%}
      {%- when 'debutify' -%}
        <div  id="productReview"
              data-productId="{{ product.id }}"
              data-storeName="{{ shop.permanent_domain | split: '.myshopify.com' | first }}">
        </div>

      {%- when 'judge_me' -%}
        <div id="judgeme_product_reviews" class="jdgm-widget jdgm-review-widget" data-id="{{ product.id }}">
          {{ product.metafields.judgeme.widget }}
        </div>

      {%- when 'loox' -%}
        <div id="looxReviews" data-product-id="{{ product.id }}" class="loox-reviews-default"></div>

      {%- when 'ryviu' -%}
        <div class="lt-block-reviews">
          <ryviu-widget
            handle="{{ product.handle }}"
            product_id="{{ product.id }}"
            title_product="{{ product.title }}"
            total_meta="{{ product.metafields.ryviu.r_count }}"
            image_product="{{ product.featured_image.src | img_url: '100x' }}">
          </ryviu-widget>
        </div>

      {%- when 'stamped_io' -%}
        <div
          id="stamped-main-widget"
          data-widget-style="standard"
          data-product-id="{{ product.id }}"
          data-name="{{ product.title | escape }}"
          data-url="{{ shop.url }}{{ product.url }}"
          data-image-url="{{ product.featured_image | img_url: 'large' | replace: '?', '%3F' | replace: '&', '%26' }}"
          data-description="{{ product.description | escape }}"
          data-product-sku="{{ product.handle }}"
          data-product-type="{{ product.type }}">
          {{ product.metafields.stamped.reviews }}
        </div>

      {%- when 'ali_reviews' -%}
        <div class="alireviews-review-box"></div>

      {%- when 'rivyo' -%}
        <div
          id="wc_review_section"
          class="wc_review_main_content"
          data-url="{{ shop.url }}"
          data-handle="{{ product.handle }}"
          data-product_id="{{ product.id }}"
          data-limit="0">
        </div>

      {%- when 'growave' -%}
        {% capture the_snippet_reviews %}{% render 'socialshopwave-widget-recommends' with 1 %}{% endcapture %}
        {% unless the_snippet_reviews contains 'Liquid error' %}
          {{ the_snippet_reviews }}
        {% endunless %}

      {%- when 'automizely' -%}
        {%- if content_for_header contains '/reviews\/v1\/sdk.js' -%}
          <div
              id="automizely_reviews_carousel_v2_production"
              data-pid="{{ product.id }}"
              data-oid="{{ shop.metafields.automizely_reviews.oid }}"
              data-sprw="{{ shop.metafields.automizely_reviews.sprw }}"
          ></div>

          <script src="{{ 'am_reviews_main_widget.js' | asset_url }}" async></script>
        {%- endif -%}

      <div id="automizely_reviews_carousel" style="display: none"></div>

      {%- when 'opinew' -%}
        <div id="opinew-reviews-product-page-code">
          <span id="opinew-plugin"
                data-server-address="https://api.opinew.com"
                data-opw-prodreviews="{{ product.metafields.opinew_metafields['product_plugin'] }}"
                data-opinew-shop-id="{{ shop.id }}"
                data-shop-url="{{ shop.domain }}"
                data-platform-product-id="{{ product.id }}">
           <span id="opinew_product_plugin_app"></span>
          </span>
        </div>

      {%- when 'fera' -%}
        <div data-fera-container="424140" data-product_id="{{ product.id }}"></div>

      {%- when 'other' -%}
        {%- if settings.review_widget_code != blank -%}
          <div class="custom-review-widget">
            {{ settings.review_widget_code }}
          </div>
        {%- endif -%}

    {%- endcase -%}
  </div>
{%- endunless -%}
