<!doctype html>

<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{% render 'direction' %}">
  <head>
    <!-- Basic page needs -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,height=device-height,minimum-scale=1.0,maximum-scale=2.0">
    <meta name="theme-color" content="{{ settings.page_button_background }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="author" content="Debutify">

    <link rel="canonical" href="{{ canonical_url }}">

    <!-- Preconnect external resources -->
    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">
    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
    <link rel="preconnect" href="https://debutify.com">

    <!-- Preload assets -->
    {%- unless settings.heading_font.system? -%}
      <link rel="preload" href="{{ settings.heading_font | font_url }}" as="font" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- unless settings.text_font.system? -%}
      <link rel="preload" href="{{ settings.text_font | font_url }}" as="font" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- unless settings.accent_font.system? -%}
      <link rel="preload" href="{{ settings.accent_font | font_url }}" as="font" type="font/woff2" crossorigin>
    {%- endunless -%}

    <link rel="preload" href="{{ settings.icon | append: ".woff2" | asset_url }}" as="font" type="font/woff2" crossorigin>
    <link rel="modulepreload" href="{{ 'theme.min.js' | asset_url }}" as="script">

    <!-- Favicon -->
    {%- liquid
      assign favicon_url = settings.favicon | image_url: width: 96, crop: 'center'
      assign apple_favicon_url = settings.favicon | image_url: width: 180, crop: 'center'

      if settings.favicon == blank
        assign favicon_url = 'data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII='
        assign apple_favicon_url = 'data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII='
      endif
    -%}

    <link rel="shortcut icon" href="{{ favicon_url }}">
    <link rel="apple-touch-icon" href="{{ apple_favicon_url }}">

    <!-- Title and description -->
    <title>
      {{ page_title }}{% if current_tags %}{%- assign meta_tags = current_tags | join: ", " -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
    </title>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <!-- Social meta -->
    {%- render 'social-meta-tags' -%}

    <!-- Microdata -->
    {%- render 'microdata-schema' -%}

    <!-- Variables -->
    {%- render 'css-variables' -%}
    {%- render 'js-variables' -%}

    <!-- CSS -->
    {{- '' | asset_url | stylesheet_tag: preload: true -}}

    <!-- JS -->
    <script type="module" src="{{ 'theme.min.js' | asset_url }}" defer></script>

    <!-- Header hook for plugins -->
    {{ content_for_header }}
  </head>

  <body class="template-password">
    <main class="password-content" role="main">
      {{ content_for_layout }}
    </main>

    <div id="LoginModal" class="modal section stacked-on-top-of-content d-none" role="dialog">
      <div class="modal__dialog container">
        <div class="modal__content overlay-content" tabindex="-1" aria-hidden="true">
          <div class="modal__header">
            <h5 class="h5 modal__title">{{ 'general.password_page.login_form_heading' | t }}</h5>

            <button type="button"
                    class="btn btn--square-sm modal__close"
                    title="{{ 'general.password_page.close' | t }}"
                    aria-label="{{ 'general.password_page.close' | t }}"
                    data-modal-close="#LoginModal">
              <span class="{{ settings.icon }} icon-width" translate="no" aria-hidden="true">close</span>
            </button>
          </div>

          <div class="modal__body">
            {%- form 'storefront_password', class: 'storefront-password-form' -%}
              {{ form.errors | default_errors }}

              <label for="password" class="mb-1">{{ 'general.password_page.login_form_password_label' | t }}</label>

              <div class="input-group">
                <input type="password"
                       class="input input--full input-group__field"
                       name="password"
                       id="password"
                       autocomplete
                       placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                       required="required"
                       data-focus>

                <button type="submit" class="btn btn--primary btn--square input-group__btn" aria-label="{{ 'general.password_page.login_form_submit' | t }}" title="{{ 'general.password_page.login_form_submit' | t }}">
                  <span class="{{ settings.icon }} icon-width" translate="no" aria-hidden="true">exit_to_app</span>
                </button>
              </div>
            {%- endform -%}
          </div>

          <div class="modal__footer">
            <div>{{ 'general.password_page.admin_link_html' | t }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="overlay-backdrop overlay-modal"></div>
  </body>
</html>
