{%- liquid
  assign show_on_desktop = section.settings.show_on_desktop
  assign show_on_mobile = section.settings.show_on_mobile
  assign section_style = section.settings.section_style
  assign container_size = section.settings.container_size
  assign image = section.settings.image
  assign image_link = section.settings.image_link
  assign images_loading_type = section.settings.images_loading_type

  capture visibility_class
    render 'section-visibility-class', show_on_mobile: show_on_mobile, show_on_desktop: show_on_desktop
  endcapture
-%}

<div class="section section--{{ section_style }}{% if container_size == 'container-full' %} section--no-spacing{% endif %} {{ visibility_class }}">
  <div class="{{ container_size }}">
    {%- if image != blank -%}
      {%- assign width_ratio = 100.0 | divided_by: 100 -%}
      {%- assign maximum_image_width = settings.page_container_width | divided_by: width_ratio -%}

      {%- capture sizes -%}(max-width: 768px) 100vw, {% if container_size == 'container-full' %}100vw{% else %}min({{ maximum_image_width | ceil }}px, 100vw){% endif %}{% endcapture %}

      <div class="media-wrapper" style="padding-top: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;">
        {%- if image_link != blank -%}
          <a href="{{ image_link }}" aria-label="Click to open {{ image_link }} link">
        {%- endif -%}

        {{- image | image_url: width: image.width | image_tag: loading: images_loading_type, sizes: sizes, widths: '300,400,500,600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600', class: 'media' -}}

        {%- if image_link != blank -%}
          </a>
        {%- endif -%}
      </div>
    {%- else -%}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.featured_image.name",
  "disabled_on": {
    "groups": [
      "custom.addons",
      "custom.general",
      "header"
    ]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_on_desktop",
      "label": "t:general.settings.show_on_desktop.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_on_mobile",
      "label": "t:general.settings.show_on_mobile.label",
      "default": true
    },
    {
      "type": "select",
      "id": "section_style",
      "label": "t:general.settings.section_style.label",
      "default": "blank",
      "options": [
        {
          "value": "blank",
          "label": "t:general.settings.section_style.options__1.label"
        },
        {
          "value": "default",
          "label": "t:general.settings.section_style.options__2.label"
        },
        {
          "value": "border",
          "label": "t:general.settings.section_style.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "container_size",
      "label": "t:general.settings.container_size.label",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "t:general.settings.container_size.options__2.label"
        },
        {
          "value": "container-fluid",
          "label": "t:general.settings.container_size.options__3.label"
        },
        {
          "value": "container-full",
          "label": "t:general.settings.container_size.options__4.label"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:general.settings.image.label"
    },
    {
      "type": "url",
      "id": "image_link",
      "label": "t:general.settings.image_link.label"
    },
    {
      "type": "header",
      "content": "t:general.settings.images_loading.header.content"
    },
    {
      "type": "select",
      "id": "images_loading_type",
      "label": "t:general.settings.images_loading.images_loading_type.label",
      "default": "lazy",
      "options": [
        {
          "value": "lazy",
          "label": "t:general.settings.images_loading.images_loading_type.options__1.label"
        },
        {
          "value": "eager",
          "label": "t:general.settings.images_loading.images_loading_type.options__2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_image.presets.name",
      "category": "t:sections.featured_image.presets.category"
    }
  ]
}
{% endschema %}
