{%- liquid
  assign show_author = section.settings.show_author
  assign show_date = section.settings.show_date
  assign show_comments = section.settings.show_comments
  assign show_social_top = section.settings.show_social_top
  assign show_social_bottom = section.settings.show_social_bottom
  assign show_tags = section.settings.show_tags

  assign article_words = article.content | strip_html | strip | split: ' '
-%}

<div itemscope itemtype="http://schema.org/Article">
  <meta itemtype="http://schema.org/Thing" itemprop="url" content="{{ shop.url }}{{ article.url }}">
  <meta itemprop="wordCount" content="{{ article_words | size }}">
  <meta itemtype="http://schema.org/CreativeWork" itemprop="articleSection" content="{{ blog.title }}">
  <meta itemtype="http://schema.org/CreativeWork" itemprop="author" content="{{ article.author }}">
  <meta itemtype="http://schema.org/CreativeWork" itemprop="datePublished" content="{{ article.published_at }}">
  <meta itemtype="http://schema.org/CreativeWork" itemprop="dateModified" content="{{ article.updated_at }}">
  <meta itemtype="http://schema.org/CreativeWork" itemprop="commentCount" content="{{ article.comments_count }}">
  <meta itemtype="http://schema.org/CreativeWork" itemprop="headline" content="{{ article.title }}">

  {%- if article.image -%}
    <meta itemtype="http://schema.org/Thing" itemprop="image" content="{{ article.image | image_url: width: article.image.width }}">
  {%- endif -%}

  <div class="article-section section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="row gy-3 text-center mb-4 mb-lg-5">
            <div>
              <h1 class="h1 page-title" itemtype="http://schema.org/Thing" itemprop="name">
                {{ article.title | escape }}
              </h1>
            </div>

            {%- render 'blog-meta', article: article, show_author: show_author, show_date: show_date, show_comments: show_comments, class: 'sm:text-lg', list_class: 'justify-content-center' -%}
          </div>

          <div class="row gy-3">
            {%- if settings.show_hero_image and article.image -%}
              <div>
                {%- assign width_ratio = 1 -%}
                {%- assign maximum_image_width = settings.page_container_width | divided_by: width_ratio -%}

                {%- capture sizes -%}(max-width: 768px) 100vw, min({{ maximum_image_width | ceil }}px, 100vw){% endcapture %}

                <div class="media-wrapper media-wrapper--center-center" style="padding-top: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;">
                  {{- article.image | image_url: width: article.image.width | image_tag: loading: 'eager', sizes: sizes, widths: '300,400,500,600,700,800,1000,1200,1400,1600,1800,2000,2200,2400,2600', class: 'media', alt: article.image.alt -}}
                </div>
              </div>
            {%- endif -%}

            {%- if show_social_top -%}
              <div>
                {%- render 'social-sharing', share_title: article.title, share_button: 'btn btn--square-xs', show_icon: true, show_label: true -%}
              </div>
            {%- endif -%}

            {%- if article.content != blank -%}
              <div class="rte" itemprop="articleBody">
                {{ article.content }}
              </div>
            {%- endif -%}

            {%- if show_social_bottom -%}
              <div>
                {%- render 'social-sharing', share_title: article.title, share_button: 'btn btn--square-xs', show_icon: true, show_label: true -%}
              </div>
            {%- endif -%}

            {%- if show_tags -%}
              {%- render 'article-tags', article: article, blog: blog -%}
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>

  {%- if blog.comments_enabled? -%}
    {%- if article.comments_count > 0 -%}
      <div class="section section--border">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 offset-lg-2">
              <div class="row gy-3 text-center mb-4 mb-lg-5">
                <h2 class="h2">
                  <span class="{{ settings.icon }} icon" translate="no">comment</span>
                  {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
                </h2>
              </div>

              {%- paginate article.comments by 5 -%}
                <div class="card-group js-pagination-items">
                  {%- for comment in article.comments -%}
                    {%- render 'comment', comment: comment -%}
                  {%- endfor -%}
                </div>

                {%- render 'pagination', paginate: paginate -%}
              {%- endpaginate -%}
            </div>
          </div>
        </div>
      </div>
    {%- endif -%}

    <div class="section section--border">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div class="row gy-3 text-center mb-4 mb-lg-5">
              <h2 class="h2">
                {{ 'blogs.comments.title' | t: count: article.comments_count }}
              </h2>
            </div>

            <div id="comments">
              {%- if comment and comment.created_at -%}
                <p class="note form form--success">
                  {%- if blog.moderated? -%}
                    {{ 'blogs.comments.success_moderated' | t }}
                  {%- else -%}
                    {{ 'blogs.comments.success' | t }}
                  {%- endif -%}
                </p>
              {%- endif -%}

              <div class="form form--vertical">
                {%- form 'new_comment', article -%}
                  {%- if form.errors -%}
                    {{ form.errors | default_errors }}
                  {%- endif -%}

                  <label for="CommentAuthor" class="mb-1">{{ 'blogs.comments.name' | t }} *</label>
                  <input {% if form.errors contains 'body' %}class="input input-error"{% endif %}
                         type="text"
                         name="comment[author]"
                         placeholder="{{ 'blogs.comments.name' | t }}"
                         id="CommentAuthor"
                         autocapitalize="words"
                         required="required"
                         value="{% if form.author %}{{ form.author }}{% elsif customer %}{{ customer.name }}{% endif %}">

                  <label for="CommentEmail" class="mb-1">{{ 'blogs.comments.email' | t }} *</label>
                  <input {% if form.errors contains 'body' %}class="input input-error"{% endif %}
                         type="email"
                         name="comment[email]"
                         placeholder="{{ 'blogs.comments.email' | t }}"
                         id="CommentEmail"
                         autocorrect="off"
                         autocapitalize="off"
                         pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)+$"
                         required="required"
                         value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

                  <label for="CommentBody" class="mb-1">{{ 'blogs.comments.message' | t }} *</label>
                  <textarea {% if form.errors contains 'body' %}class="input input-error"{% endif %}
                            name="comment[body]"
                            id="CommentBody"
                            placeholder="{{ 'blogs.comments.message' | t }}"
                            required="required">
                    {%- if form.body -%}{{ form.body }}{%- endif -%}
                  </textarea>

                  {%- if blog.moderated? -%}
                    <p>{{ 'blogs.comments.moderated' | t }}</p>
                  {%- endif -%}

                  <button type="submit" class="btn btn--primary w-100 w-md-auto">
                    <span class="btn__text">
                      {{ 'blogs.comments.post' | t }}
                      <span class="{{ settings.icon }}" translate="no" aria-hidden="true">arrow_forward</span>
                    </span>
                  </button>
                {%- endform -%}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {%- endif -%}
</div>


{% schema %}
{
  "name": "t:sections.main_article.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "t:sections.main_article.settings.show_author.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "t:sections.main_article.settings.show_date.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_comments",
      "label": "t:sections.main_article.settings.show_comments.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_social_top",
      "label": "t:sections.main_article.settings.show_top_sharing_options.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_social_bottom",
      "label": "t:sections.main_article.settings.show_bottom_sharing_options.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "t:sections.main_article.settings.show_tags.label",
      "default": true
    }
  ]
}
{% endschema %}
