{%- liquid
  assign page_title = 'customer.reset_password.title' | t
  assign page_subtitle = 'customer.reset_password.subtext' | t
-%}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 offset-lg-4">
        <div class="mb-4 text-center">
          <div class="row gy-3">
            <div>
              <h2 class="h2 page-title">{{ page_title }}</h2>
            </div>

            <p class="sm:text-lg">{{ page_subtitle }}</p>
          </div>
        </div>

        {%- form 'reset_customer_password', class: 'form form--vertical' -%}
          {%- if form.errors -%}
            <div>
              {{ form.errors | default_errors }}
            </div>
          {%- endif -%}

          <label for="ResetPassword" class="mb-1">{{ 'customer.reset_password.password' | t }} *</label>
          <input type="password"
                 value=""
                 name="customer[password]"
                 id="ResetPassword"
                 class="input input--full{% if form.errors contains 'password' %} input--error{% endif %}"
                 placeholder="{{ 'customer.reset_password.password' | t }}"
                 required="required">

          <label for="PasswordConfirmation" class="mb-1">{{ 'customer.reset_password.password_confirm' | t }} *</label>
          <input type="password"
                 value=""
                 name="customer[password_confirmation]"
                 id="PasswordConfirmation"
                 class="input input--full{% if form.errors contains 'password_confirmation' %} input--error{% endif %}"
                 placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
                 required="required">

          <button type="submit" class="btn btn--primary btn--full">
            <span class="btn__text">
              {{ 'customer.reset_password.submit' | t }}
            </span>
          </button>
        {%- endform -%}
      </div>
    </div>
  </div>
</div>
