{%- liquid
  assign page_title = 'customer.activate_account.title' | t
  assign page_subtitle = 'customer.activate_account.subtext' | t
-%}

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 offset-lg-4">
        <div class="mb-4 text-center">
          <div class="row gy-3">
            <div>
              <h2 class="h2 page-title">{{ page_title | escape }}</h2>
            </div>

            <p class="sm:text-lg">{{ page_subtitle | escape }}</p>
          </div>
        </div>

        {%- form 'activate_customer_password', class: 'form form--vertical' -%}
          {%- if form.errors -%}
            <div>
              {{ form.errors | default_errors }}
            </div>
          {%- endif -%}

          <label for="CustomerPassword" class="mb-1">{{ 'customer.activate_account.password' | t }}</label>
          <input type="password"
                 value=""
                 class="input input--full"
                 name="customer[password]"
                 id="CustomerPassword"
                 placeholder="{{ 'customer.activate_account.password' | t }}">

          <label for="CustomerPasswordConfirmation" class="mb-1">{{ 'customer.activate_account.password_confirm' | t }}</label>
          <input type="password"
                 value=""
                 class="input input--full"
                 name="customer[password_confirmation]"
                 id="CustomerPasswordConfirmation"
                 placeholder="{{ 'customer.activate_account.password_confirm' | t }}">

          <button type="submit" class="btn btn--primary btn--full">
            <span class="btn__text">
              {{ 'customer.activate_account.submit' | t }}
            </span>
          </button>

          <button type="submit" name="decline">
            <span class="{{ settings.icon }} icon" translate="no">close</span>
            {{ 'customer.activate_account.cancel' | t }}
          </button>
        {%- endform -%}
      </div>
    </div>
  </div>
</div>
