{%- liquid
  assign logo = section.settings.logo
  assign logo_width = section.settings.logo_width
-%}

<header class="password-header header" role="banner" data-section-type="password-header" data-section-id="{{ section.id }}">
  <div class="container">
    <div class="row gy-3 align-items-center">
      <div class="col-md-6">
        <h1 class="header__logo-container d-flex justify-content-center justify-content-md-start" itemscope itemtype="http://schema.org/Organization">
          <a href="{{ routes.root_url }}" itemprop="url" class="header__logo-link h-100 d-flex align-items-center">
            <meta itemprop="name" content="{{ shop.name }}">

            {%- if logo != blank -%}
              {%- capture sizes -%}{{ logo_width | times: 2 }}px{% endcapture %}

              {{- logo | image_url: width: logo.width | image_tag: loading: 'eager', sizes: sizes, widths: '100,200,300', alt: shop.name, class: 'header__logo' -}}
            {%- else -%}
              <span class="header__logo text-ellipsis d-flex align-items-center">{{ shop.name }}</span>
            {%- endif -%}
          </a>
        </h1>
      </div>

      <div class="col-md-6">
        <div class="d-flex justify-content-center justify-content-md-end">
          <button type="button" class="btn btn--sm btn--outline-primary" data-modal-open="#LoginModal">
            <span class="{{ settings.icon }}" translate="no" aria-hidden="true">lock</span>
            {{ 'general.password_page.password_link' | t }}
          </button>
        </div>
      </div>
    </div>
  </div>
</header>

{%- if shop.password_message != blank -%}
  <div class="section">
    <div class="container">
      <div class="row">
        {%- render 'section-header', subheading: shop.password_message -%}
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.main_password_header.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.main_password_header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "t:sections.main_password_header.settings.logo_width.label",
      "min": 20,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 150
    }
  ]
}
{% endschema %}
