{%- liquid
  assign title = section.settings.title
  assign image = section.settings.image
  assign show_newsletter = section.settings.show_newsletter
  assign newsletter_form_heading = section.settings.newsletter_form_heading
  assign newsletter_placeholder = section.settings.newsletter_placeholder
  assign newsletter_button_text = section.settings.newsletter_button_text
  assign show_share_buttons = section.settings.show_share_buttons
-%}

<div class="w-100">
  {%- if image != blank -%}
    {%- assign grid_width = 'col-md-6' -%}
  {%- else -%}
    {%- assign grid_width = 'col-md-8 offset-md-2' -%}
  {%- endif -%}

  <div class="section section--blank">
    <div class="container">
      <div class="row gy-3 align-items-center">
        {%- if image != blank -%}
          <div class="{{ grid_width }}">
            <div class="media-wrapper" style="padding-top: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;">
              {{- image | image_url: width: image.width | image_tag: loading: 'eager', widths: '300,500,800,1100,1400,1800,2200', itemprop: 'logo', alt: image.alt, class: 'media' -}}
            </div>
          </div>
        {%- endif -%}

        <div class="{{ grid_width }} text-center">
          <div class="row gy-3">
            {%- if title != blank -%}
              <div>
                <h2 class="h2 page-title">{{ title | escape }}</h2>
              </div>
            {%- endif -%}

            {%- if show_newsletter -%}
              <div>
                {%- form 'customer', class: 'row gy-3' -%}
                  {%- if form.errors -%}
                    <div>
                      {{ form.errors | default_errors }}
                    </div>
                  {%- endif -%}

                  {%- if form.posted_successfully? -%}
                    <div>
                      <div class="note form form--success">
                        <span class="{{ settings.icon }}" translate="no">email</span>
                        {{ 'general.password_page.signup_form_success' | t }}
                      </div>
                    </div>
                  {%- else -%}
                    <div class="rte sm:text-lg">
                      {{ newsletter_form_heading }}
                    </div>

                    <input type="hidden" name="contact[tags]" value="prospect, password page">

                    <div class="input-group">
                      <input id="email"
                             type="email"
                             class="input-group__field input input--full"
                             placeholder="{{ newsletter_placeholder | escape }}"
                             aria-label="{{ newsletter_placeholder | escape }}"
                             name="contact[email]"
                             autocorrect="off"
                             pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)+$"
                             autocapitalize="off"
                             required="required">

                      <button type="submit"
                              class="btn btn--primary input-group-btn btn--square input-group__btn"
                              aria-label="{{ newsletter_button_text }}"
                              title="{{ newsletter_button_text }}">
                        <span class="{{ settings.icon }}" translate="no" aria-hidden="true">notifications_active</span>
                      </button>
                    </div>
                  {%- endif -%}
                {%- endform -%}
              </div>
            {%- endif -%}

            {%- if show_share_buttons -%}
              {%- render 'social-sharing', share_button: 'btn btn--square-xs', show_icon: true, show_label: true, classes: 'justify-content-center' -%}
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main_password.name",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:general.settings.heading.label",
      "default": "Coming soon"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.main_password.settings.image.label"
    },
    {
      "type": "header",
      "content": "t:sections.main_password.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "show_newsletter",
      "label": "t:sections.main_password.settings.show_newsletter.label",
      "default": true
    },
    {
      "type": "richtext",
      "id": "newsletter_form_heading",
      "label": "t:general.settings.text.label",
      "default": "<p>Enter your email below and get notified first when we launch!</p>",
      "info": "t:sections.main_password.settings.newsletter_form_heading.info"
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": "t:sections.main_password.settings.newsletter_placeholder.label",
      "default": "Email address"
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": "t:sections.main_password.settings.newsletter_button_text.label",
      "default": "Notify me"
    },
    {
      "type": "header",
      "content": "t:sections.main_password.settings.header__2.content"
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "t:sections.main_password.settings.show_share_buttons.label",
      "default": true
    }
  ]
}
{% endschema %}
