{%- liquid
  assign show_on_desktop = section.settings.show_on_desktop
  assign show_on_mobile = section.settings.show_on_mobile
  assign section_style = section.settings.section_style
  assign container_size = section.settings.container_size
  assign text_alignment = section.settings.text_alignment

  capture visibility_class
    render 'section-visibility-class', show_on_mobile: show_on_mobile, show_on_desktop: show_on_desktop
  endcapture
-%}

<div class="section section--{{ section_style }} {{ visibility_class }}">
  <div class="{{ container_size }}">
    <div class="row gy-3 {{ text_alignment }}">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            {%- liquid
              assign heading = block.settings.heading
            -%}

            {%- if heading != blank -%}
              <h2 class="h2">{{ heading | escape }}</h2>
            {%- endif -%}

          {%- when 'text' -%}
            {%- liquid
              assign text = block.settings.text
              assign text_size = block.settings.text_size
            -%}

            {%- if text != blank -%}
              <div class="rte{% if text_size == 'large' %} sm:text-lg{% endif %}">{{ text }}</div>
            {%- endif -%}

          {%- when 'button' -%}
            {%- liquid
              assign button_label = block.settings.button_label
              assign button_link = block.settings.button_link
              assign button_style = block.settings.button_style
            -%}

            {%- if button_label != blank and button_link != blank -%}
              <div>
                <a href="{{ button_link }}" class="btn {{ button_style }}">{{ button_label }}</a>
              </div>
            {%- endif -%}

        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.rich_text.name",
  "disabled_on": {
    "groups": [
      "custom.addons",
      "custom.general",
      "header"
    ]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_on_desktop",
      "label": "t:general.settings.show_on_desktop.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_on_mobile",
      "label": "t:general.settings.show_on_mobile.label",
      "default": true
    },
    {
      "type": "select",
      "id": "section_style",
      "label": "t:general.settings.section_style.label",
      "default": "blank",
      "options": [
        {
          "value": "blank",
          "label": "t:general.settings.section_style.options__1.label"
        },
        {
          "value": "default",
          "label": "t:general.settings.section_style.options__2.label"
        },
        {
          "value": "border",
          "label": "t:general.settings.section_style.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "container_size",
      "label": "t:general.settings.container_size.label",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "t:general.settings.container_size.options__2.label"
        },
        {
          "value": "container-fluid",
          "label": "t:general.settings.container_size.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:general.settings.text_alignment.label",
      "default": "text-center",
      "options": [
        {
          "value": "text-start",
          "label": "t:general.settings.text_alignment.options__1.label"
        },
        {
          "value": "text-center",
          "label": "t:general.settings.text_alignment.options__2.label"
        },
        {
          "value": "text-end",
          "label": "t:general.settings.text_alignment.options__3.label"
        },
        {
          "value": "text-justify",
          "label": "t:general.settings.text_alignment.options__4.label"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich_text.blocks.heading.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:general.settings.heading.label",
          "default": "Featured content"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.rich_text.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:general.settings.text.label",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "t:sections.rich_text.blocks.text.settings.text_size.label",
          "default": "large",
          "options": [
            {
              "value": "medium",
              "label": "t:sections.rich_text.blocks.text.settings.text_size.options__1.label"
            },
            {
              "value": "large",
              "label": "t:sections.rich_text.blocks.text.settings.text_size.options__2.label"
            }
          ]
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich_text.blocks.button.name",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "t:general.settings.button_label.label",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:general.settings.button_link.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:general.settings.button_style.label",
          "default": "btn--primary",
          "options": [
            {
              "value": "",
              "label": "t:general.settings.button_style.options__1.label"
            },
            {
              "value": "btn--primary",
              "label": "t:general.settings.button_style.options__2.label"
            },
            {
              "value": "btn--outline-primary",
              "label": "t:general.settings.button_style.options__3.label"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich_text.presets.name",
      "category": "t:sections.rich_text.presets.category",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
